
.bg-imageTypeSalle{
    background-image: url('../img/salle1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  .bg-imageTypeMateriel{
    background-image: url('../img/luca-bravo-9l_326FISzk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  
  .bg-imageBatiment{
    background-image: url('../img/kanvz-pat-ZAAtZ4KCrq0-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  
  .bg-imageFonction{
    background-image: url('../img/helloquence-5fNmWej4tAA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  .tabDivers{
    margin: auto;
    width: 80vw;
  }
  .titreDivers{
  text-align: center !important;
  }
        
.inputGestion{
  background:none !important;
  border:none !important;
}

.inputGestion:focus{
  background:white !important;
  border:none !important;
}
