.btnFiltres:hover, .btnSubFiltres:hover{
    background-color: rgb(9, 41, 59) !important;
    color: white !important;

}
.btnFiltres{
    width: 95% !important;
    color: rgb(9, 41, 59) !important;
}
#inputNomFiltre{
  width:140px;
}
.filtre{
    background-color: rgb(255, 255, 255) !important;
    padding-left: 1.5vw;
    padding-top: 1vh;
    box-shadow: 7px 4px 4px -1px rgb(190, 190, 201);
  
  }
  .inputsFiltres{
      
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      
      margin: 1px 0px;
  }
  .inputsFiltres:focus{
    border-color: rgba(13, 18, 75, 0.8)!important;
    border-left: none;
   border-right: none;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(39, 94, 146, 0.651) !important;
   outline: 0 none;
  }
  h5{
    color: rgb(9, 41, 59) !important; 
    font-family: trajan-pro-3, serif;
    font-style: normal;
  }
  .dateDebutFin{
    padding-bottom: 3vh;
  }
