
  .btnPlus{
    float: right;
    color: white !important;
    background-color:rgb(11, 47, 77) !important;
  }
  .mb-3{
    text-align: center;
  }

  .userListContainer{
    margin-top: 1%;
    width: 73vw;
    
  }
  .theadUserContainer{
  background-color:  rgb(11, 47, 77);
  }
  .thdUser{
    font-family: trajan-pro-3, serif;
    color: white;
  }
 

  .fa-trash-alt{
   color: lightcoral;
  }
  .fa-pencil-alt{
    color: rgb(12, 75, 158);
  }
  .bg-imageUser{
    background-image: url('../img/listerUsers.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }

  #buttonDivers{
    color: rgb(11, 47, 77);
    background-color:white;
    border: 1px solid  rgb(11, 47, 77);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #buttonDivers:hover{
    color: white;
    background-color:rgb(11, 47, 77);
    
  }